anthropic
openai
httpx
pydantic
streamlit
langgraph
langchain-groq
groq
requests
python-dotenv
fastapi
uvicorn
psycopg2-binary
passlib[bcrypt]
pyjwt
pydantic[email]
python-multipart
langsmith[claude-agent-sdk]
sqlalchemy
minio